@page "/confirmcode/{codeid:guid}"
@using Application.WASM.Services
@inject IUserService userService
@inject NavigationManager nav;
@inject ILocalStorageService localStore
<div style="background-image: url('/wallpaperflare.com_wallpaper.jpg');height:100%;">
  <div class="text">Login</div>
        <div class="login-box">
            <h2>Enter The Code Sent </h2>
            <form>
                <div class="user-box">
                    <input @bind="Code" type="tel">
                    <label>Code Sent</label>
                </div>
               <a @onclick="SendCode" >
<span > </span >
<span > </span >
<span > </span >
<span > </span >
Confirm
               </a >
            </form>
        </div>
       

</div>

@code {
    [Parameter]
    public Guid CodeId{ get; set; }
    public string Code{ get; set; }
    async Task SendCode()
    {
        var res = await userService.ConfirmCode(CodeId, Code);
        if (res.Success)
        {
            await localStore.SetItemAsync("token", res.Data.Token);
            await localStore.SetItemAsync("identity", true);
            nav.NavigateTo("/games");
        }
    
        
    }
}
