@page "/games"


	<div style="background-image: url('/wallpaperflare.com_wallpaper_black.jpg');height:100%;background-repeat: no-repeat;
  background-attachment: fixed;">
<div class="wrapper" >

	<h2><strong>All Games<span>( 4 )</span></strong></h2>

	<div class="cards" >

		<figure class="card">

			<img src="https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA05847_00/2/i_156be5fdc23a961f0e2b05974c0df5ecfd6169b09aa25e5c510ec7e6e1ad683f/i/icon0.png" />

			<figcaption>Dota 2</figcaption>

		</figure>

		<figure class="card">

			<img src="https://i1.sndcdn.com/artworks-kb2KdSqUgEytRcfh-VkRYyg-t500x500.jpg" />

			<figcaption>Stick Fight</figcaption>

		</figure>

		<figure class="card">

			<img src="http://media.rockstargames.com/rockstargames/img/global/news/upload/actual_1364906194.jpg" />

			<figcaption>Minion Masters</figcaption>

		</figure>

		<figure class="card">

			<img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg" />

			<figcaption>KoseBoz!</figcaption>

		</figure>
		<figure class="card">

			<img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg" />

			<figcaption>KoseBoz!</figcaption>

		</figure>
		<figure class="card">

			<img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg" />

			<figcaption>KoseBoz!</figcaption>

		</figure>
		<figure class="card">

			<img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg" />

			<figcaption>KoseBoz!</figcaption>

		</figure>
		<figure class="card">

			<img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg" />

			<figcaption>KoseBoz!</figcaption>

		</figure><figure class="card">

			<img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg" />

			<figcaption>KoseBoz!</figcaption>

		</figure><figure class="card">

			<img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg" />

			<figcaption>KoseBoz!</figcaption>

		</figure>
		</div>
		<h2><strong>What's new?</strong></h2>
		

	@*<div class="news">

		<figure class="article">

			<img src="https://mrreiha.keybase.pub/codepen/hover-fx/news1.jpg" />

			<figcaption>

				<h3>New Item</h3>

				<p>

					In today’s update, two heads are better than one, and three heads are better than that, as the all-new Flockheart’s Gamble Arcana item for Ogre Magi makes its grand debut.

				</p>

			</figcaption>

		</figure>

		<figure class="article">

			<img src="https://mrreiha.keybase.pub/codepen/hover-fx/news2.png" />

			<figcaption>

				<h3>Update</h3>

				<p>

					Just in time for Lunar New Year and the Rat’s time in the cyclical place of honor, the Treasure of Unbound Majesty is now available.

				</p>

			</figcaption>

		</figure>

	</div>

	*@

	
</div>
</div>
@code {

}
