@page "/login"
<div style="background-image: url('/wallpaperflare.com_wallpaper.jpg');height:100%;">
  <div class="text">Login</div>
        <div class="login-box">
            <h2>Your Phone Number</h2>
            <form>
                <div class="user-box">
                    <input type="tel"  name="" required="">
                    <label>Phone Number</label>
                </div>
               
            </form>
        </div>
        <button class="button"><i class='bx bx-right-arrow-alt icon'></i></button>
</div>
@code {

}
