@page "/login"
@using Application.WASM.Services

@inject IUserService userService
@inject NavigationManager nav;
<div style="background-image: url('/wallpaperflare.com_wallpaper.jpg');height:100%;">
  <div class="text">Login</div>
        <div class="login-box">
            <h2>Your Phone Number</h2>
            <form>
                <div class="user-box">
                    <input @bind="Phone" type="tel"  name="" required="">
                    <label>Phone Number</label>
                </div>
                <a @onclick="SendPhone" >
<span > </span >
<span > </span >
<span > </span >
<span > </span >
Next
</a >
          
      
       
            </form>
        </div>
       
</div>
@code {
    private string? Phone{ get; set; }
    private async  void SendPhone()
    {
        var res = await userService.SendCode(Phone);

        if (res.Success)
        {
            nav.NavigateTo($"/confirmcode/{res.Data}");
        }
    }
}
