<div class="modal" style="display:@DispalyType">
    <div class="modal-content">
        <span class="close" @onclick="CloseModal">&times;</span>

        <div class="modal-body">

            <div class="search-bar">
                <input type="text" placeholder="Search..." />

            </div>
            <button class="btn-custom" role="button" @onclick="GroupClick">New Group</button>
            <div class="msg">
                <img class="msg-profile" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%2812%29.png" alt="" />
                <div class="msg-detail">
                    <div class="msg-username">Miguel Cohen</div>
                    <div class="msg-content">
                        <span class="msg-message">Adaptogen taiyaki austin jean shorts brunch</span>
                        <span class="msg-date">20m</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<NewGroup @ref="@RefNewGroup"></NewGroup>

     

@code {
    NewGroup? RefNewGroup=new NewGroup();
    string DispalyType="none";

    public void OpenNewMessageModal(){
        DispalyType = "block";
        StateHasChanged();

    }
    void CloseModal(){
        DispalyType = "none";
        StateHasChanged();
    }
    void GroupClick(){
        RefNewGroup.OpenNewGroupModal();
       
    }
    

}
