
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

<nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="logo.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">Codinglab</span>
                    <span class="profession">Web developer</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

            

                <ul class="menu-links">
                    
                    <li class="nav-link">
                       <NavLink  href="login" Match="NavLinkMatch.All"  >
                            <i class='bx bxs-home-alt-2 icon'></i>
                            <span class="text nav-text">Dashboard</span>
                       </NavLink>
                      
                    </li>
                    
                    <li class="nav-link">
                        <NavLink href="#">
                            <i class='bx bxs-basket icon'></i>
                            <span class="text nav-text">Revenue</span>
                        </NavLink>
                    </li>

                    <li class="nav-link">
                        <NavLink href="games">
                            <i class='bx bxs-game icon' ></i>
                            <span class="text nav-text">Games</span>
                        </NavLink>
                    </li>

                    <li class="nav-link">
                        <NavLink href="#">
                            <i class='bx bxs-camera icon'></i>
                            <span class="text nav-text">Analytics</span>
                        </NavLink>
                    </li>

                    <li class="nav-link">
                        <NavLink href="login">
                            <i class='bx bxs-user icon'></i>
                            <span class="text nav-text">Likes</span>
                        </NavLink>
                    </li>

                    <li class="nav-link">
                        <NavLink href="#">
                            <i class='bx bxs-wallet icon'></i>
                            <span class="text nav-text">Wallets</span>
                        </NavLink>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>



            </div>
        </div>

    </nav>